---
import "../styles/global.css";
import FormViewerComponent from "../features/form-builder/form-viewer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Form Viewer</title>
  </head>
  <body>
    <FormViewerComponent client:load />
  </body>
</html>
